## Introduction to Python

### Executing Print

In [1]:
print("Hello World!")

Hello World!

In [2]:
print("""it's a beautiful day""")

it's a beautiful day

In [4]:
print("""It is my first line of code
      and I am excited to learn Python!""")

It is my first line of code
      and I am excited to learn Python!

### Check you version

In [5]:
import sys
print(sys.version)

3.11.9 (tags/v3.11.9:de54cf5, Apr  2 2024, 10:12:12) [MSC v.1938 64 bit (AMD64)]

### Writing comments

In [9]:
# This is my first comment in Python
# Comments are used to explain code and make it more readable
print("This is a comment in Python")

This is a comment in Python

# Input and Output Fuctions

In [1]:
Name = input("Enter your name: ")
print("Hello,", Name,"Welcome to Python programming.")

Hello,  Welcome to Python programming.

In [2]:
into = input("Enter your introduction: ")
print("Hello people", into)

Hello people d

In [3]:
a = 10
b = "This is a string"
c= 3.14
d = True
print(a, b, c, d)

10 This is a string 3.14 True

In [4]:
x,y = 5, 10
print("The value of x is:", x
      , "and the value of y is:", y)

The value of x is: 5 and the value of y is: 10

In [5]:
color = input("Enter your favorite color: ")
print("my favorite color is", color)

my favorite color is f

In [7]:
number = int(input("Enter a number: "))
print("The number you entered is:", number)

The number you entered is: 64

In [ ]:
a = "Hello World"
b = 10
c = 11.22
d = ("Geeks", "for", "Geeks")
e = ["Geeks", "for", "Geeks"]
f = {"Geeks": 1, "for":2, "Geeks":3}


print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

# Data types

### python has many data types

In [8]:
a = 5
print(type(a))

<class 'int'>

In [12]:
f= 6j
print(type(f))

<class 'complex'>

In [13]:
float_type = 46.4

In [14]:
print(type(float_type))

<class 'float'>

In [3]:
g = ["apple", "banana", "cherry"]

In [4]:
print(g)
print(type(g))

['apple', 'banana', 'cherry']
<class 'list'>

In [5]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)

('apple', 'banana', 'cherry')

In [6]:
print(type(mytuple))

<class 'tuple'>

In [7]:
range1 = range(6)
print(range1)

range(0, 6)

In [9]:
range2 = range(1, 10,2)
range3 = range(10, 0, -1)
print(range2)
print(range3)

range(1, 10, 2)
range(10, 0, -1)

In [10]:
print(type(range1))
print(type(range2))

<class 'range'>
<class 'range'>

In [11]:
dict1 = {"name": "John", "age": 30, "city": "New York"}
print(dict1)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [12]:
myset = {"apple", "banana", "cherry"}
print(myset)

{'cherry', 'banana', 'apple'}

In [13]:
MYBOOL = True
print(MYBOOL)

True

In [14]:
print(type(MYBOOL))

<class 'bool'>